@import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
	background: url('https://cdn.rawgit.com/potionPI/11-kinds-of-loneliness/831e8fc1/resources/Night_bg.svg') no-repeat center center fixed;
	background-image:url('https://cdn.rawgit.com/potionPI/11-kinds-of-loneliness/831e8fc1/resources/Night_bg.svg'), none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Class colors*/
.Serenity {
	color: #F8F9DE;
}
.Acceptance {
	color: #E7FFE3;
}
.Apprehension {
	color: #C4D2C7;
}
.Distraction {
	color: #D2EED6;
}
.Pensiveness {
	color: #C9E3E2;
}
.Boredom {
	color: #E2C9E3;
}
.Annoyance {
	color: #F5C6C7;
}
.Interest {
	color: #F6E1B0;
}
.Puzzle {
	color: #FFFFFF;
}
.About {
	color: #EEEEEE;
}
/*End Class colors*/

/*Navigation Bar*/
.topnav {
	overflow: hidden;
}

.topnav a.navlogo {
	float: left;
	display: block;
	text-align:center;
	padding: 10px 7px;
	height:40px;
	width:40px;
}

.topnav a.navlink {
	float: left;
	display: block;
	color: #666771;
	text-align: center;
	padding: 10px 7px;
	text-decoration: none;
	font-size: 23px;
	font-family: 'Annie Use Your Telescope', 'Regular';
}

.topnav a.navlink:hover {
	font-family: 'The Girl Next Door', 'Regular';
	font-size: 20px;
}

.topnav .icon {
	display: none;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	color: #F8F9DE;
	padding: 11.5px 13.5px;
}

@media screen and (max-width: 1223px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 1223px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a.navlink {
		float: none;
		display: block;
		text-align: right;
		margin-bottom: 0;
	}
	.topnav.responsive .wordnav {
		margin-top: 53px;
	}
}

.navhr {
	background-color: #929389;
	height:1px;
}
/*End Navigation Bar*/

/*Profile*/
.profileDiv {
	display: block;
	position: relative;
	float: right;
	margin-top: 30px;
}

.profileDiv img {
	width: 150px;
	height: 150px;
	padding-left: 20px;
}

.profileDiv p {
	font-family: 'Architects Daughter', 'Regular';
	font-size: 20px;
}
/*End of Profile*/

/*Main content*/
div.mainContent {
	position: relative;
	background-color: rgba(255, 255, 255, 0.6);
	margin: 0 auto;
	border-radius: 3px;
	width: 690px;
	padding: 50px 50px 50px 50px;
}

div.mainContent h1 {
	font-family: 'Indie Flower', 'Regular';
	font-weight: bold;
	font-size: 45px;
	text-align: center;
	padding:;
}

p.content {
	font-size: 22px;
	line-height: 50px;
	font-family: 'Architects Daughter', 'Regular';
	margin-bottom: 40px;
}
/*End of Main content*/


#afterImage1 {
	display: block;
	position: absolute;
	top: 30px;
	color: #FFFFFF;
	z-index: 50;
	text-shadow: 0 0 10px #FFFFFF;
	opacity: 0.6;
}
#afterImage2 {
	display: block;
	position: absolute;
	top: 120px;
	left: 290px;
	color: #FFFFFF;
	z-index: 50;
	text-shadow: 0 0 10px #FFFFFF;
	opacity: 0.6;
}
#afterImage2 a {
	color: #DDDDDD;
}
#afterImage2 a:hover {
	color: #FFFFFF;
}
#afterImage2 a:active {
	color: #999999;
}
